# http://editorconfig.org/
# GitHub respects this file to display their diffs / code reviews if in repo root
# Seen in https://github.com/isaacs/github/issues/170 as a way to solve the 8 spaces tabs
root = true

# NOTE: exception to Google Style, which is generally 80
[*]
line_width=100
charset = utf-8

# https://google.github.io/styleguide/jsguide.html#formatting-block-indentation
[*.{js,json}]
indent_style = space
indent_size = 2
